fastapi
uvicorn[standard]
python-multipart
pillow
opencv-python
librosa
numpy
ffmpeg-python
jinja2
pydantic
soundfile

torch
torchvision
torchaudio
timm
facenet-pytorch
transformers
cryptography
fernet

load_dotenv
